* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

$blue: #2187B4;

body {
    font-family: 'PT Sans', sans-serif;
}

 video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

.landing__overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .65);
  }

.landing__header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: #fff;

    .landing__h1 {
        font-size: 4rem;
    }

    .landing__p {
        font-size: 2rem;
    }

    .landing__content {
        border: 5px solid $blue;
        margin-right: 10rem;
        min-width: 500px;
        min-height: 30vh;
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .landing__btn {
            text-decoration: none;
            color: #fff;
            padding: 1rem 4rem;
            margin-top: 1rem;
            background-color: transparent;
            border: 2px solid $blue;
            font-size: 1.55rem;
            text-transform: uppercase;
            transition: background-color 0.4s ease-in;
            position: relative;
            z-index: 1;
        }

        .landing__btn::before {
            content: '';
            background-color: $blue;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 0.4s ease-in;
        }

       .landing__btn:hover::before,
       .landing__btn:focus::before {
           transform: scaleX(1);
       }
    }
  }

nav {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      background-color: rgba($color: #000000, $alpha: .65);
      color: #fff;
      height: 5vh;

      ul {
          list-style: none;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 25%;
      }

      a {
          color: #fff;
          font-size: 1.45rem;
          text-decoration: none;
          transition: 0.3s ease-in;
      }

      a:hover {
          color: $blue;
      }
  }



#music {
    background-color: #1f1f1f;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 10rem 0;

    .music__heading {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
        margin-bottom: 4rem;
    }

    .music__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .music__grid img {
        height: auto;
        width: 350px;
        position: relative;
    }


    .album__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .album__heading {
        margin: 0;
        padding: 0;
    }

    .album {
        position: relative;
        margin: 1rem;
    }

    .album__links {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem;
    }

    a {
        font-size: 2.25rem;
        color: #fff;
        margin: .45rem;
        transition: 0.3s ease-in;
    }

    a:hover {
        color: $blue;
    }
}

// video section

#videos {
    background-image: url(assets/sal-boat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    padding-bottom: 5rem;
}

.videos-overlay {
    background-color: rgba($color: #000000, $alpha: .65);
    width: 100%;
    height: 100%;
    position: absolute;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    margin: 2rem 0;
    
    .video-gif {
        height: auto;
        max-width: 40%;
    }
}
.video-heading {
    color: #fff;
    font-size: 3rem;
    padding-bottom: 4rem;
    padding-top: 5rem;
    text-align: center;
    z-index: 9;
    position: relative;
}

.video-container-mobile {
    display: none;
}

.video-info {
    color: #fff;
    background-color: #1f1f1f;
    margin: -60px;
    z-index: 8;
    height: 10vh;
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .video-info-container {
        margin-left: 1rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    a {
        color: $blue;
        font-size: 1.2rem;
        text-decoration: none;
        position: relative;

        &::before {
            content: '';
            left: 0;
            bottom: -3px;
            position: absolute;
            width: 100%;
            height: 5px;
            background-color:$blue;
            transform: translateX(-100%);
            transition: transform 0.4s ease;
        }

        &:hover::before,
        &:focus::before {
            transform: translateX(0);
        }
    }
}

footer {
    text-align: center;
    background-color: #1f1f1f;
    color: #fff;
    padding: .55rem;
}

// media queries

@media(max-width: 660px) {
    .landing__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .landing__content {
            margin: 0 auto;
            min-width: 350px;

            .landing__h1 {
                font-size: 3rem;
            }

            .landing__p {
                font-size: 2rem;
            }
        }
    }

    // 
    // 
    // MUSIC SECTION

    #music {
        display: flex;
        flex-direction: column;

        .music__heading {
            text-align: center;
            font-size: 3rem;
        }

        .music__grid {
            width: 100vw;
            flex-direction: column;
            justify-items: center;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
        }

        .album {
            margin: 0;
        }

        .album__cover {
            width: 100%;
            height: 100%;
        }
    }

    .nav-left {
        width: 100%;
    }
    
    .nav-right {
        display: none;
    }

    // video section

    #videos {
        display: flex;
        flex-direction: column;
    }

    .video-container {
        display: none;
    }

    .video-container-mobile {
        display: block;
        z-index: 12;
        position: relative;
        margin: 2rem 0;
        height: 18rem;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

@media(max-width: 380px) {

    .music__grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .album .album__cover {
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
    }
}